* {
color: #080808;
text-align: left;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


main {
max-width: 600px;
margin: 2rem 2rem 2rem 2rem; /* izquierda */
background: #fff;
padding: 2rem;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-group {
margin-bottom: 1.5rem;
display: flex;
flex-direction: column;
font-weight: bold;
}

label {
margin-bottom: 0.5rem;
font-weight: normal;
}

fieldset {
border: 1px solid #ccc;
padding: 1rem;
border-radius: 5px;
}

input[type="text"],
input[type="date"],
select,
textarea {
padding: 0.5rem;
border: 1px solid #ccc;
border-radius: 4px;
}


input[type="submit"] {
background-color: #2563eb;
color: white;
border: none;
padding: 0.75rem;
border-radius: 4px;
cursor: pointer;
text-align: center;
}


input[type="submit"]:hover {
background-color: #1d4ed8;
}

fieldset label {
margin-right: 1rem;
}

