body {
    margin: 0; 
    font-family: Arial, sans-serif;
}

header {
    width: 100%;            
    background-color: rgb(255,222,33); 
    padding: 15px 0;          
    text-align: center;       
    font-size: 1em;          
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
}

nav {
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap: 40px;
    position: relative; 
}

nav a {
    color: rgb(121, 77, 46);            
    text-decoration: none;   
    font-weight: bold;      
    padding: 10px;          
}


nav a:hover {
    color: #d35400;          
}

.bloque {
    display: flex;              
    align-items: center;
    gap: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 900px; 
    margin: 0 auto;   
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

main .texto {
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: flex-start;  
    gap: 10px;               
}
main .texto h1 {
    font-size: 30px;          
    margin: 0;                
    font-weight: bold;
    color: rgb(121, 77, 46);
    position: relative;
    left: 20px;              
    top: 30px;           
}

main .texto p {
    font-size: 15px;         
    color: rgb(121, 77, 46);
    line-height: 1.6;       
    position: relative;
    left: 20px;               
    top: -5px;                
    text-align: justify;
}

.logo {
    width: 100px;        
    margin-right: 30px; 
}

footer {
    width: 100%;                          
    background-color: rgb(255,222,33);  
    padding: 15px 0;                   
    text-align: center;              
    font-size: 1em;                   
    color: rgb(121, 77, 46);           
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
    margin-top: 5px;                   
}


.grid-container {
  display: grid !important; 
  grid-template-columns: repeat(2, minmax(0, 1fr)); 
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.grid-container > * {
  width: auto;
  max-width: 100%;
  box-sizing: border-box;
}

/* card style */
.item {
  text-align: center;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 8px;
  background: #fff;
}

/* Image inside item */
.item img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  display: block;
  border-radius: 6px;
}

/*Banner trasboarent*/
.hero {
    position: relative;
    width: 100%;
    height: 400px; 
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* box banner */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    background: rgba(46, 45, 45, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.hero-text h1 {
    margin: 0;
    font-size: 2.2rem;
}

.hero-text p {
    margin: 5px 0 0;
    font-size: inherit; 
}


/* about us page  */

.bloque img {
    width: 180px;      
    height: 140px;     
    object-fit: cover; 
    border-radius: 8px;
    flex-shrink: 0;    
}

.bloque {
    display: flex;
    align-items: center;
    gap: 20px;

    margin: 30px 50px; 
}

.bloque:first-of-type img {
    margin-top: 70px; 
}

.bloque:first-of-type {
    margin-bottom: 10px; 
}

main .texto h1 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(121, 77, 46);
    margin: 0 0 35px 0; 
}

.texto p {
    margin: 6px 0;   
    line-height: 1.4; /
}

/* Text */
.name { font-weight: 700; margin-top: 10px; color: rgb(121, 77, 46); }
.description { font-size: .95rem; color: rgb(121, 77, 46); }

@media (max-width: 768px) {
  .grid-container { grid-template-columns: repeat(2, minmax(0, 1fr)); }
}
@media (max-width: 420px) {
  .grid-container { grid-template-columns: 1fr; }
}

/* ===== form centered ===== */

.form-container {
    background: #fff;
    max-width: 420px;
    width: 100%;

    padding: 30px 35px;
    margin: 40px auto;

    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);

    text-align: center;
}

/* Titles */
.form-container h2 {
    color: rgb(121, 77, 46);
    margin-bottom: 5px;
}

.form-container h3 {
    color: rgb(121, 77, 46);
    margin-bottom: 25px;
    font-weight: normal;
}

/* Grupos */
.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 18px;
}

/* Labels */
.input-group label {
    margin-bottom: 6px;
    font-weight: bold;
    color: rgb(121, 77, 46);
}

/* Inputs */
.input-group input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.input-group input:focus {
    outline: none;
    border-color: rgb(121, 77, 46);
}

/* button */
.button-wrapper {
    margin-top: 20px;
}

.button-wrapper button {
    background: rgb(121, 77, 46);
    color: white;

    border: none;
    padding: 10px 25px;
    border-radius: 6px;

    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.button-wrapper button:hover {
    background: #5c3a22;
}

/* banner text */

.banner-text {
    font-family: 'Great Vibes', cursive;
    font-size: 5rem; 
    color: #f5c542;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
    margin: 0;
}

/* ===== banner size ===== */

.hero-text {
    font-size: 2.2rem; 
    font-size: 2.8rem; 
}

.banner-text {
    font-family: 'Great Vibes', cursive;

    font-size: 1em; 
    font-weight: bold;
    color: #e1b439;

    text-shadow: 
        2px 2px 6px rgba(0,0,0,0.7);

    margin: 0;
}

@media (max-width: 600px) {

  nav {
    flex-direction: column;
    gap: 15px;
  }

  .logo {
    margin: 0;
  }

  /* Hero */
  .hero {
    height: 250px;
  }

  .hero-text {
    padding: 12px 15px;
    font-size: 1.5rem;
  }

  .banner-text {
    font-size: 1.2em;
  }

  main .texto h1 {
    font-size: 22px;
    left: 0;
    top: 0;
    text-align: center;
  }

  main .texto p {
    left: 0;
    top: 0;
    font-size: 14px;
  }

  /* About */
  .bloque {
    flex-direction: column;
    margin: 20px;
    text-align: center;
  }

  /* Footer */
  footer {
    font-size: 0.9rem;
    padding: 10px;
  }
}

/* ===== menu ===== */

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: rgb(121, 77, 46);
}

.nav-links {
  display: flex;
  gap: 40px;
}

/* ===== mobil ===== */
@media (max-width: 700px) {

  nav {
    justify-content: space-between;
    padding: 0 20px;
  }

  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background: rgb(255,222,33);
    position: absolute;
    top: 70px;
    left: 0;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  }
  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    padding: 10px 0;
  }
}

/* ===== menu mobil ===== */

@media (max-width: 700px) {


  nav {
    position: relative;
    z-index: 1000;
  }

  .menu-toggle {
    z-index: 1100;
    position: relative;
  }

  /* Menu */
  .nav-links {
    display: none;
    flex-direction: column;

    width: 100%;
    max-height: 90vh;      
    overflow-y: auto;     
    background: rgb(255,222,33);
    position: absolute;
    top: 100%;
    left: 0;
    padding: 20px 0;
    z-index: 1050;
  }

  /* show */
  .nav-links.active {
    display: flex;
  }

  /* Links */
  .nav-links a {
    padding: 15px 0;
    font-size: 1.1rem;
  }
}

@media (max-width: 750px) {

  .nav-links {
    z-index: 9999;
  }

  .menu-toggle {
    z-index: 10000;
    position: relative;
  }

}
