@media (min-width: 500px) {

  main.gallery {
    max-width: 1000px;     
    margin: 0 auto;         
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-items: center;
  } 

  main.gallery figure {
    width: 100%;
    max-width: 280px;       
    margin: 0;
    text-align: center;
  }

  main.gallery img {
    width: 100%;
    height: auto;
    display: block;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navigation a {
    padding: 0.5rem 1rem;
  }

  .menu-toggle {
    display: none;
  }
}
