@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
  }

  .weather h2::after {
    content: " ☀️";
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }

  .weather-icon {
    display: none;
  }
}

