/* =========================
   Global CSS Variables
========================= */
:root {
  --primary-color: #AA151B;   /* Spain red */
  --secondary-color: #F1BF00; /* Spain yellow */
  --background-color: #ffffff;
  --text-color: #222;
  --accent-color: #f4f4f4;

  --font-heading: 'Georgia', serif;
  --font-body: 'Arial', sans-serif;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
  }

  .weather h2::after {
    content: " ☀️";
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }

  .weather-icon {
    display: none;
  }
}
