@media (min-width: 500px) {

  .menu-toggle {
    display: none;
  }

  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navigation a {
    padding: 0.5rem 1rem;
  }
}

main {
  display: grid;
}

.gallery figure {
  flex: 1 1 250px;   /* base de cada foto */
  max-width: 250px;
  text-align: center;
}
