@media (min-width: 500px) {

  .menu-toggle {
    display: none;
  }

  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navigation a {
    padding: 0.5rem 1rem;
  }
}

 main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

