@media (min-width: 500px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.75rem;
  }

  main figure {
    width: 100%;
    margin: 0;
    text-align: center;   /* 👈 CENTRA TEXTO */
  }

  main img {
    width: 100%;
    height: auto;
    display: block;       /* 👈 evita espacios raros */
  }
}

  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navigation a {
    padding: 0.5rem 1rem;
  }




